.box_todo{
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px 3px #ccc;
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  position: relative;
  height: auto;
}

.item{
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 5px;
}
.item p{
  margin-right: 10px;
}
.container_item{
  display: none;
}
.box_todo .header{
  position: relative;
}
.box_todo .header button{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
}
.btn_tambah{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 30px;

}


.btn_del{
/*  width: 30px;
  height: 30px;
*/  position: absolute;
  top: -20px;
  right: -20px;
  background: #fff !important;
  border: 2px solid #000 !important;
  border-radius: 50% !important;
  /*display: none;*/
}